.form-group {
    margin-bottom: 1rem;
}

label.required::after {
    content: "*";
    color: red;
    margin-left: 4px;
}

.error {
    color: red
}

fieldset {
    border: 2px solid rgb(216, 207, 207);
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(238, 234, 234);
}

legend {
    font-size: 1rem;
}